@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  /* --primary-color: #a855f7; */
  /* --primary-color-dark: #9333ea; */
  --primary-color: #547bf0;
  --primary-color-dark: #336dea;
  /* #008bf8 This is vibrant color , this can also be used */
  /* --secondary-color: #ca8a04; */
  --secondary-color: #336dea;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #d4d5f6;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--extra-light);
}
a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff63;
  z-index: 99;
}

.nav___content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo101 a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo101 a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

#navbaar {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
  margin-bottom: 0;
}

#navbaar li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

#navbaar li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  #navbaar {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ #navbaar {
    left: 0;
  }

  #navbaar li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}

.wte {
  position: relative;
  width: 50%;
  height: 3%;
  left: 5%;
  /* top: 110%; */
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 225%;
  line-height: 375%;
  letter-spacing: 0.03em;
  /* padding-bottom: 100px; */
  color: #a4a4a4;
}
.easy {
  color: var(--primary-color-dark);
}
.dociee {
  position: relative;
  width: 60%;
  height: 40%;
  left: 5%;
  top: 117%;
  font-family: "Newake";
  font-style: normal;
  font-weight: 800;
    font-size: 750%;
    line-height: 80%;
  /* or 94% */
  padding-bottom: 100px;
  letter-spacing: 0.03em;
  color: #1e1e1e;
}

.curve {
  position: relative;
  width: 100%;
  height: 30%;
  left: 0;
  top: 180%;
  background-image: url(../../assests/images/Vector\ 2.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.circle {
  position: relative;
  display: inline;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 500%;
  color: white;
  font-weight: 600;
  border: 3px solid var(--primary-color-dark);
  background-color: var(--primary-color-dark);
}

.text123 {
  position: relative;
  width: 100%;
  height: 30%;
  left: 0;
  top: 200%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}
.text1 {
  width: 25%;
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
.textb {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  padding-top: 20px;
  color: #555555;
}

.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: var(--primary-color-dark);
  --color-outline: #ff145b80;
  --color-shadow: #00000080;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

.zigzag {
  overflow: hidden;
  width: 70%;
  margin-bottom: 50px;
}
table {
  width: 100%;
  /* border-collapse: collapse; */
  border-radius: 2%;
}
th,
td {
  padding: 0.25em 0.5em;
  text-align: center;
  vertical-align: center;
  height: 70px;
}
th {
  background-color: var(--primary-color-dark);
  color: #fff;
}
td {
  background-color: #eee;
}
tbody tr {
  transform: translateX(100%);
}
tr {
  transition: all 2s ease-in-out;
  &.slide-in {
    transform: translateX(0%);
  }
}

.appointment {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.center {
  text-align: center;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 40px;
  width: 60%;
  height: 40%;
  font-family: "Newake";
  font-style: normal;
  font-weight: 400;
  font-size: 400%;
  line-height: 150%;
  /* or 94% */
  padding-bottom: 100px;
  letter-spacing: 0.03em;
  color: #1e1e1e;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--extra-light);
  text-align: center;

}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-card {
  animation: popIn 0.2s ease-out 0s forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  };
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.notification-card{
  width: 40%;
  height:50%;
  background-color: rgb(255, 255, 255,0.7);
  border-radius: 40px
}
.toggle-bar{
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: space-around;
}
.notiBar{
  padding: 20px;
  width: 50%;
  /* border-bottom: 1px solid #aba9a9; */
  text-align: center;
  margin: 5px;
  cursor: pointer;
}
.notiBar:hover{
  background-color: var(--extra-light);
  border-radius: 40px;
}
.notiActive{
  background-color: var(--primary-color);
  border-radius: 40px
}
.notiActive:hover{
  background-color: var(--primary-color);
}
.contentNoti{
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notiChange{
  margin-top: auto;
  padding: 20px;
  border-radius: 20px;
  margin-bottom :5px;
  cursor: pointer;
}
.markRead{
  background-color: var(--extra-light);
  color: black;
}
.markRead:hover{
  background-color: #a8abf5;
}
.deleteRead{
  background-color: rgba(255, 0, 0, 0.426);
  color: black;
}
.deleteRead:hover{
  background-color: rgba(255, 0, 0, 0.621);
}
.notiList{
  margin: 20px;
  overflow-y: auto; 
  overflow-x: hidden;
}
.notiList::-webkit-scrollbar {
  width: 2px; 
}

.notiList::-webkit-scrollbar-track {
  background: rgb(241, 241, 241,0); 
}

.notiList::-webkit-scrollbar-thumb {
  background: #888; 
}

.notiList::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: black;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.statusUpdateBtn{
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.blockBtn{
  cursor: no-drop;
  background-color: #827f7f;
}

