body{
  background-color: #d4d5f6;
}

.search101 {
    display: inline-block;
    position: relative;
    top: 110px;
    left: 35%;
    width: 25%;
  }
  
  .search101 input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search101 button[type="submit"] {
    background-color: #4e99e9;
    border: none;
    width: 30%;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
  }
  
  .search101 button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: blue;

  }
.doctors0{
    padding :200px;
    padding-top: 175px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}  